<h1>商品詳細</h1>

<%= image_tag @item.get_image(100,100) %>
<h4>商品名 <%= @item.name %></h4>
<h4>商品説明 <%= @item.introduction %></h4>
<h4>ジャンル <%= @item.genre.name %></h4>

<h4>税込価格(税抜価格) <%= (@item.price * 1.1).to_i %> （<%= @item.price %>)</h4>

 <h4>ステータス
 <% if @item.is_active %>
 販売中
 <% else %>
 販売停止中
 <% end %>
 </h4>

 <%= link_to "編集する", edit_admin_item_path(@item.id) %>
